<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    .body {
      color: var(--mainBlack);
      font-family: "Lato", sans-serif;
  
  }
    .col:first-child{
      background: #222;
      opacity: 0.8;
      
    }
    .navbar:first-child{
      /*background: rgb(153, 109, 131);*/
      /*background: #045e93;*/
      background: #222;
      opacity: 0.8;
    }
    .card{
      padding: 10px;
      margin: 10px;
    }
  </style>
</head>
<body>
  <nav class="navbar transparent navbar-fixed-top navbar-expand-lg navbar-dark static-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <a class="navbar-brand glow" href="http://localhost:5000/aboutus">TourWithUs</a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:5000/home">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </nav>
 
<div class="container">
  <h2>About Us</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Kiran</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Sanjana</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Shriya</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title"><Rishitha></Rishitha></h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
