<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
        .bg{
        background-image: url({{ url_for('static', filename = '/img/bg2.jpg')}});
        background-repeat: no-repeat;
        background-size:cover;
      }
    </style>
</head>
<body> 
  <div class="bg">
    <div class="container-fluid">
      <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav class="navbar nav2 navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
              <div class="collapse navbar-collapse ">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item active">
                          <a class="nav-link pl-0 text-nowrap glow" href="http://localhost:5000/aboutus"> <span class="font-weight-bold">TourWithUs</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:5000/home"> <span class="d-none d-md-inline">Home</span></a>
                    </li>                        
                      <li class="nav-item active">
                          <a class="nav-link " href="http://localhost:5000/all_packages"> <span class="d-none d-md-inline">Packages</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link " href="http://localhost:5000/all_employees"> <span class="d-none d-md-inline">Employees</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="http://localhost:5000/all_bookings"> <span class="d-none d-md-inline">Bookings</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="http://localhost:5000/all_users"> <span class="d-none d-md-inline">Users</span></a>
                      </li>
                      <li class="nav-item active">
                          <a class="nav-link" href="http://localhost:5000/all_enquiries"> <span class="d-none d-md-inline">Enquiries</span></a>
                      </li>
                  </ul>
              </div>
          </nav>
      </aside>
          <main class="col bg-faded py-3 flex-grow-1">
            <h1 class="headings">ALL ENQUIRIES</h1>
            <table border =1 class="customers">
                <tr>
                  <th>Enquiry ID</th>
                  <th>User ID</th>
                  <th>Employee ID</th>
                </tr>
                {% for enquiry in enquiry_details %}
                <tr>
                  <td>{{enquiry[0]}}</td>
                  <td>{{enquiry[1]}}</td>
                  <td>{{enquiry[2]}}</td>
                </tr>
                {% endfor %}
              </table>
          </main>
      </div>
    </div>
  </div>
</body>
