<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Tour Management</title>

        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
<body>
  <div class="clas">
      <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark col">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <a class="navbar-brand" href="#">TourWithUs</a>
          <!--
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">              
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          -->       
          <!--
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>-->
        </div>
        
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>          
      </nav>      
      <div class="start row mb-3 d-flex justify-content-center col">
        <div class="col-sm-3 mb-3">
          <div class="card text-center rounded-circle col">
            <div class="card-body">
              <h5 class="card-title">Packages</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="packages.html" class="btn btn-outline-dark">Show Table</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-3">
          <div class="card text-center rounded-circle col">
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="employees.html" class="btn btn-outline-dark">Show Table</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 d-flex justify-content-center col" >
        <div class="col-sm-3 mb-3">
          <div class="card text-center rounded-circle col">
            <div class="card-body">
              <h5 class="card-title">Bookings</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="bookings.html" class="btn btn-outline-dark">Show Table</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-center rounded-circle col">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="users.html" class="btn btn-outline-dark">Show Table</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 mb-3">
          <div class="card text-center rounded-circle col">
            <div class="card-body">
              <h5 class="card-title">Enquiries</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="enquiries.html" class="btn btn-outline-dark">Show Table</a>
            </div>
          </div>
        </div>
      </div>     
  </div>
</body>
</html>