<h1>ALL PACKAGES</h1>
<head>
    <link rel="stylesheet" href="./styles.css">
   <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<table border =1 class="customers">
    <tr>
      <th>Package ID</th>
      <th>Package name</th>
      <th>Number of days</th>
      <th>Destination</th>
      <th>Employee Incharge ID</th>
      <th>Cost</th>
    </tr>
    {% for pack in package_details %}
    <tr>
      <td>{{pack[0]}}</td>
      <td>{{pack[1]}}</td>
      <td>{{pack[2]}}</td>
      <td>{{pack[3]}}</td>
      <td>{{pack[4]}}</td>
      <td>{{pack[5]}}</td>
      <td>
      <form method="POST" action="/rem_pack" onsubmit="return confirm('Are you sure you wanna delete??');">
      <input type="hidden" value="{{pack[0]}}" name="p_id">
      <button type="submit" class="btn btn-small" >
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
      </form>
      </td>
    </tr>
    {% endfor %}
</table>
