<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<div class="content">
	<h1 class="headings">UPDATE PACKAGE COST</h1>
	<br>
	<br>
	<form method="POST" action="">
		<label >Package ID</label>
		<br>
		<input type="text" placeholder="Enter an integer value " name="p_id" required="required" />
		<br> 
		<label >New Cost </label>
		<br>
		<input type="text" placeholder="Enter an integer value " name="price" required="required" />
		<br>
		<input type="submit">
	</form>
</div>