<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<h1 class="headings">ALL USERS</h1>
<table border =1 class="customers">
    <tr>
      <th>User ID</th>
      <th>Password</th>
      <th>Mail ID</th>
      <th>Phone number</th>
    </tr>
    {% for user in user_details %}
    <tr>
      <td>{{user[0]}}</td>
      <td>{{user[1]}}</td>
      <td>{{user[2]}}</td>
      <td>{{user[3]}}</td>
    </tr>
    {% endfor %}
</table>