
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");  
/*homepage styling*/


:root {
	--primaryColor: #f09d51;/*setting variables syntax*/
	--mainWhite: rgb(216, 154, 206);
	--mainBlack: #222;
	--mainGrey: #ececec;
	--mainSpacing: 0.1rem;
	--mainTransition: all 0.3s linear;
  }
  * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box; /*element wont get bigger*/
  }
  .body {
	  color: var(--mainBlack);
	  font-family: "Lato", sans-serif;
  
  }
  
  .start{
	  /*margin-top: 3rem;   */
	  padding-top: 50px; 
	 
  }
  .card-body{
	background:transparent;
	color: #ececec;
  }
  .col:first-child{
	  /*background: #222;*/
	  opacity: 0.8;
	  
  }
  .clas{
	padding-bottom: 200px;
  
  }
  .navbar:first-child{
	  /*background: rgb(153, 109, 131);*/
	  /*background: #045e93;*/
	  background: #222;
	  opacity: 0.8;
  }
  .bg{
	background-image: url({{ url_for('static', filename = '/img/bg2.jpg')}});
	background-repeat: no-repeat;
	background-size:cover;
  }
  .card:hover{
	color: rgba(255, 255, 255, 1);
	/*box-shadow: 0 15px 15px rgba(0,0,0, .8);*/
	box-shadow: 0 15px 15px rgba(255,255,255,0.8);
  }
  .glow{
	text-shadow: 1px 1px 2px #faf7f7;
  }
/*homepage styling ends*/

/*table styling*/
.headings{
	text-align: center; 
	border-radius:30px; 
	padding: 20px; 
}
.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
  }

  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

    .customers tr:nth-child(even){background-color: #f2f2f2;}
    .customers tr:nth-child(odd){background-color: #f2f2f2;}

  .customers tr:hover {background-color: #ddd;}

  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(92, 59, 75);
    color: white;
  }

/*form*/
.temp1{
    margin-left: 35%;
    font-size:150%;
    font-weight:bold;
}
.label{
    font-size:150%;
}
	input[type=text], select {
	  width:600px;
	  padding: 12px 20px;
	  margin: 8px 0px;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}
	
	input[type=submit] {
	  width: 100px;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}
	
	input[type=submit]:hover {
	  background-color: #45a049;
	}

/*form styling ends*/
/*add button*/
  .button {
	background-color:rgb(92, 59, 75);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	border-radius: 30px 30px 30px 30px;	
  }
  .button1{
	margin-left: 35%;
  }
  .button1:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button2:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  /*add button ends*/

  /* table pages*/
  .container-fluid:first-child{
    font-size: 20px;
    line-height: 1.5;
  }
  .nav2:first-child{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .bg{
        background-image: url({{ url_for('static', filename = 'img/bg2.jpg')}});
        background-repeat: no-repeat;
        background-size:cover;
      }
  /*table page styling ends*/
